* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --background: #013281;
  --primary: #1E86FF;
  --white: #F4F5F7;

  --shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Inter', sans-serif;
  background: var(--background);
}
.container {
  width: 1024px;
}
.nav-menu {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}
.nav-btn {
  display: flex;
  align-items: center;
  justify-content: right;
}
.nav-item {
  font-size: 1.3rem;
  color: var(--white);
}
.home-section {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-home {
  width: 60%;
}
.content-img {
width: 40%;
}