* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --background: #F2F6FA;
  --primary: #FF171B;
  --white: #FFFFFF;
  --black: #030026;

  --input-border: #ACC9E5;
  --input-background: #F2F6FA;
  --input-text: #C3D4E5;

  --shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background);
}
.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.container {
  max-width: 1110px;
}
.login-box {
  width: 1000px;
  height: 600px;
  background: var(--white);
  box-shadow: var(--shadow);
}