* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --background: #F2F6FA;
  --primary: #FF171B;
  --white: #FFFFFF;
  --black: #030026;

  --input-border: #ACC9E5;
  --input-background: #F2F6FA;
  --input-text: #C3D4E5;

  --shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background);
}
.bottom-3 {
  margin-bottom: 3.5rem;
}
.form-input {
  width: 410px;
  height: 50px;
  background: var(--input-background);
  border: 1px var(--input-border) solid;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.form-input:hover {
  transition: 0.2s ease-in;
  border: 1px var(--primary) solid;
  box-shadow: var(--shadow);
}
.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.container {
  max-width: 1110px;
}
.login-box {
  width: 1000px;
  height: 600px;
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
.form-title {
  color: var(--primary);
  font-size: 3rem;
  font-weight: 700;
}
.form-stitle {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 300;
}
.form-icons {
  width: 200px;
  height: 60px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem 0;
}
.form-icons a {
  color: var(--black);
}
.form-icons a:hover {
  color: var(--primary);
  transition: 0.2s ease-in;
}
.cont-terms {
  width: 410px;
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-direction: row;
  margin: 2.5rem 0;
}
.cont-terms b {
  color: var(--primary);
  cursor: pointer;
}
.input-check input[type="checkbox"] {
  width: 24px;
  height: 24px;
  background: var(--input-background);
  border: 1px var(--input-border) solid;
  border-radius: 8px;
  padding: 1rem;
  margin-right: 1rem;
}
.input-check:checked {
  color: var(--primary);
}
.btn-group {
  width: 410px;
  display: flex;
  justify-content: space-between;
}
.btn-primary {
  width: 196px;
  height: 55px;
  background: var(--primary);
  color: var(--white);
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;

  cursor: pointer;
}
.btn-outline {
  width: 196px;
  height: 55px;
  font-size: 1.5rem;
  color: var(--primary);
  border: 2px var(--primary) solid;
  border-radius: 8px;
  background: none;

  cursor: pointer;
}
.btn-primary:hover, .btn-outline:hover {
  filter: brightness(0.9);
}
.bg-img {
  width: 30%;
  height: 100%;
  background-image: url(../img/illutration-img.png);
  border-radius: 0 8px;
}
